@charset "UTF-8";
/* line 28, src/scss/_utilities/_extend.scss */
.c-title, .step__notification-title {
  font-family: 'Gogh', sans-serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-arrow-right:before, .icon-checked:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 41, src/scss/_generated/_spriteFont.scss */
.icon-arrow-right:before {
  content: "";
}

/* line 41, src/scss/_generated/_spriteFont.scss */
.icon-checked:before {
  content: "";
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Black.woff2") format("woff2"), url("../fonts/Gogh-Black.woff") format("woff"), url("../fonts/Gogh-Black.ttf") format("truetype"), url("../fonts/Gogh-Black.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "GoghHeavy";
  src: url("../fonts/GoghHeavy.woff2") format("woff2"), url("../fonts/GoghHeavy.woff") format("woff"), url("../fonts/GoghHeavy.ttf") format("truetype"), url("../fonts/GoghHeavy.svg#GoghHeavy") format("svg");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-ExtraBold.woff2") format("woff2"), url("../fonts/Gogh-ExtraBold.woff") format("woff"), url("../fonts/Gogh-ExtraBold.ttf") format("truetype"), url("../fonts/Gogh-ExtraBold.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Bold.woff2") format("woff2"), url("../fonts/Gogh-Bold.woff") format("woff"), url("../fonts/Gogh-Bold.ttf") format("truetype"), url("../fonts/Gogh-Bold.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Medium.woff2") format("woff2"), url("../fonts/Gogh-Medium.woff") format("woff"), url("../fonts/Gogh-Medium.ttf") format("truetype"), url("../fonts/Gogh-Medium.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Regular.woff2") format("woff2"), url("../fonts/Gogh-Regular.woff") format("woff"), url("../fonts/Gogh-Regular.ttf") format("truetype"), url("../fonts/Gogh-Regular.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Light.woff2") format("woff2"), url("../fonts/Gogh-Light.woff") format("woff"), url("../fonts/Gogh-Light.ttf") format("truetype"), url("../fonts/Gogh-Light.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Gogh";
  src: url("../fonts/Gogh-Thin.woff2") format("woff2"), url("../fonts/Gogh-Thin.woff") format("woff"), url("../fonts/Gogh-Thin.ttf") format("truetype"), url("../fonts/Gogh-Thin.svg#Gogh") format("svg");
  font-style: normal;
  font-weight: 100;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 10, src/scss/_macros/_logotype.scss */
.logo__btn img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

/* line 10, src/scss/_macros/_title.scss */
.c-title span {
  color: #21BF73;
}

/* line 3, src/scss/_macros/_desc.scss */
.c-desc {
  padding-bottom: 60px;
  font-size: 20px;
  text-align: center;
  color: #576472;
}

/* line 9, src/scss/_macros/_desc.scss */
.c-desc a {
  color: #21BF73;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  min-width: 200px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

/* line 17, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 22, src/scss/_macros/_btn.scss */
.c-btn__wrapper.c-btn__wrapper--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 25, src/scss/_macros/_btn.scss */
.c-btn__wrapper.c-btn__wrapper--end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 30, src/scss/_macros/_btn.scss */
.c-btn.c-btn--medium {
  min-width: 170px;
  height: 57px;
}

/* line 35, src/scss/_macros/_btn.scss */
.c-btn.c-btn--primary {
  -webkit-box-shadow: 0 6px 20px 0 rgba(40, 223, 153, 0.2), 0 20px 30px 0 rgba(40, 223, 153, 0.2);
          box-shadow: 0 6px 20px 0 rgba(40, 223, 153, 0.2), 0 20px 30px 0 rgba(40, 223, 153, 0.2);
  background-color: #21BF73;
}

/* line 39, src/scss/_macros/_btn.scss */
.c-btn.c-btn--primary .icon-font,
.c-btn.c-btn--primary span {
  color: #ffffff;
}

/* line 45, src/scss/_macros/_btn.scss */
.c-btn.c-btn--secondary {
  border: 1px solid #576472;
  background-color: #FFFFFF;
}

/* line 49, src/scss/_macros/_btn.scss */
.c-btn.c-btn--secondary span {
  font-weight: 500;
  color: #576472;
}

/* line 55, src/scss/_macros/_btn.scss */
.c-btn.c-btn--white {
  background-color: #FFFFFF;
}

/* line 58, src/scss/_macros/_btn.scss */
.c-btn.c-btn--white span {
  font-weight: 500;
  color: #21BF73;
}

/* line 64, src/scss/_macros/_btn.scss */
.c-btn.c-btn--red {
  background-color: #FD5E53;
}

/* line 67, src/scss/_macros/_btn.scss */
.c-btn.c-btn--red span {
  font-weight: 500;
  color: #fff;
}

/* line 73, src/scss/_macros/_btn.scss */
.c-btn .icon-font {
  font-size: 16px;
}

/* line 76, src/scss/_macros/_btn.scss */
.c-btn .icon-font + span {
  padding-left: 10px;
}

/* line 81, src/scss/_macros/_btn.scss */
.c-btn span {
  z-index: 2;
  position: relative;
  font-weight: bold;
  font-size: 17px;
}

/* line 87, src/scss/_macros/_btn.scss */
.c-btn span + .icon-font {
  margin-left: 10px;
}

/* line 91, src/scss/_macros/_btn.scss */
.c-btn span strong {
  font-weight: 700;
}

/* line 3, src/scss/_components/common/_header.scss */
.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-shadow: 0 4px 60px 0 rgba(24, 33, 53, 0.07);
          box-shadow: 0 4px 60px 0 rgba(24, 33, 53, 0.07);
  background-color: #FFFFFF;
}

/* line 14, src/scss/_components/common/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

/* line 21, src/scss/_components/common/_header.scss */
.header__step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 112px;
  height: 57px;
  border: 1px solid #B0EACD;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

/* line 30, src/scss/_components/common/_header.scss */
.header__step-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 37, src/scss/_components/common/_header.scss */
.header__step-title {
  padding-right: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #163A5F;
}

/* line 44, src/scss/_components/common/_header.scss */
.header__step-num {
  font-size: 18px;
  color: #576472;
}

/* line 48, src/scss/_components/common/_header.scss */
.header__step-num span {
  font-weight: 600;
  font-size: 24px;
  color: #21BF73;
}

/* line 3, src/scss/_components/common/_footer.scss */
.footer {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 7, src/scss/_components/common/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1140px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(87, 100, 114, 0.2);
}

/* line 18, src/scss/_components/common/_footer.scss */
.footer__wrapper p {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #576472;
}

/* line 3, src/scss/_components/_step.scss */
.step {
  padding: 100px 10px 70px;
}

/* line 7, src/scss/_components/_step.scss */
.step.step--2 .step__form {
  max-width: 650px;
}

/* line 11, src/scss/_components/_step.scss */
.step.step--3, .step.step--5, .step.step--6, .step.step--7 {
  padding-top: 0;
}

/* line 17, src/scss/_components/_step.scss */
.step.step--3 .step__desc, .step.step--5 .step__desc, .step.step--6 .step__desc, .step.step--7 .step__desc {
  padding-bottom: 0;
}

/* line 21, src/scss/_components/_step.scss */
.step.step--4 {
  padding-top: 0;
}

/* line 24, src/scss/_components/_step.scss */
.step.step--4 .step__title {
  padding-bottom: 40px;
}

/* line 27, src/scss/_components/_step.scss */
.step.step--4 .step__container {
  padding-bottom: 0;
  background-color: transparent;
}

/* line 31, src/scss/_components/_step.scss */
.step.step--4 .step__container-bg {
  height: 365px;
  background-color: rgba(33, 191, 115, 0.1);
}

/* line 40, src/scss/_components/_step.scss */
.step.step--5 .step__container, .step.step--6 .step__container, .step.step--7 .step__container {
  padding-bottom: 0;
  background-color: transparent;
}

/* line 44, src/scss/_components/_step.scss */
.step.step--5 .step__container-bg, .step.step--6 .step__container-bg, .step.step--7 .step__container-bg {
  height: 365px;
  background-color: rgba(33, 191, 115, 0.1);
}

/* line 50, src/scss/_components/_step.scss */
.step.step--5 .step__form, .step.step--6 .step__form, .step.step--7 .step__form {
  max-width: 800px;
}

/* line 55, src/scss/_components/_step.scss */
.step.step--5 .step__form-field label p, .step.step--6 .step__form-field label p, .step.step--7 .step__form-field label p {
  font-size: 14px;
  font-weight: normal;
}

/* line 60, src/scss/_components/_step.scss */
.step.step--5 .step__form-field label input,
.step.step--5 .step__form-field label select, .step.step--6 .step__form-field label input,
.step.step--6 .step__form-field label select, .step.step--7 .step__form-field label input,
.step.step--7 .step__form-field label select {
  height: 48px;
}

/* line 69, src/scss/_components/_step.scss */
.step.step--7 .step__desc {
  padding-bottom: 40px;
}

/* line 74, src/scss/_components/_step.scss */
.step.step--8 .step__btn {
  padding-top: 25px;
}

/* line 79, src/scss/_components/_step.scss */
.step__container {
  position: relative;
  left: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(33, 191, 115, 0.1);
}

/* line 90, src/scss/_components/_step.scss */
.step__container-bg {
  z-index: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 99, src/scss/_components/_step.scss */
.step__container-bg span {
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 103, src/scss/_components/_step.scss */
.step__container-bg span:nth-of-type(1) {
  top: 40%;
  left: 10%;
  width: 40px;
  height: 40px;
  background-color: #99F3BD;
}

/* line 110, src/scss/_components/_step.scss */
.step__container-bg span:nth-of-type(2) {
  top: -10px;
  right: 10%;
  width: 40px;
  height: 40px;
  background-color: #F5DEA3;
}

/* line 117, src/scss/_components/_step.scss */
.step__container-bg span:nth-of-type(3) {
  right: 20%;
  bottom: 20px;
  width: 30px;
  height: 30px;
  background-color: #99F3BD;
}

/* line 124, src/scss/_components/_step.scss */
.step__container-bg span:nth-of-type(4) {
  left: 15%;
  bottom: 40px;
  width: 10px;
  height: 10px;
  background-color: #F5DEA3;
}

/* line 134, src/scss/_components/_step.scss */
.step__container-content {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 675px;
  margin-left: auto;
  margin-right: auto;
}

/* line 144, src/scss/_components/_step.scss */
.step__wrapper {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* line 151, src/scss/_components/_step.scss */
.step__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

/* line 160, src/scss/_components/_step.scss */
.step__col-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 167, src/scss/_components/_step.scss */
.step__form {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* line 175, src/scss/_components/_step.scss */
.step__form.step__form--2 .step__form-field:not(:last-of-type) {
  padding-bottom: 10px;
}

/* line 181, src/scss/_components/_step.scss */
.step__form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 184, src/scss/_components/_step.scss */
.step__form-field:not(:last-of-type) {
  padding-bottom: 25px;
}

/* line 188, src/scss/_components/_step.scss */
.step__form-field label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* line 194, src/scss/_components/_step.scss */
.step__form-field label.checkbox {
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 10px 20px;
  border: 1px solid rgba(87, 100, 114, 0.1);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 5px 60px 0 rgba(22, 58, 95, 0.06);
          box-shadow: 0px 5px 60px 0 rgba(22, 58, 95, 0.06);
  background-color: #FFFFFF;
}

/* line 205, src/scss/_components/_step.scss */
.step__form-field label.checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

/* line 214, src/scss/_components/_step.scss */
.step__form-field label.checkbox input:checked + i {
  border-color: #21BF73;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 218, src/scss/_components/_step.scss */
.step__form-field label.checkbox input:checked + i:after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 226, src/scss/_components/_step.scss */
.step__form-field label.checkbox i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(22, 58, 95, 0.5);
  margin-right: 20px;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 236, src/scss/_components/_step.scss */
.step__form-field label.checkbox i:after {
  content: '';
  opacity: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #21bf73;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 247, src/scss/_components/_step.scss */
.step__form-field label.checkbox p {
  padding-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  color: #163A5F;
}

/* line 255, src/scss/_components/_step.scss */
.step__form-field label.toggle {
  cursor: pointer;
}

/* line 258, src/scss/_components/_step.scss */
.step__form-field label.toggle input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

/* line 267, src/scss/_components/_step.scss */
.step__form-field label.toggle input:checked + span {
  background-color: #21bf73;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 271, src/scss/_components/_step.scss */
.step__form-field label.toggle input:checked + span i {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 279, src/scss/_components/_step.scss */
.step__form-field label.toggle span {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 30px;
  -webkit-box-shadow: inset 0px 1px 4px #ADBCD1;
          box-shadow: inset 0px 1px 4px #ADBCD1;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: #D0DBEA;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 289, src/scss/_components/_step.scss */
.step__form-field label.toggle span i {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 0 #ABBED8;
          box-shadow: 0 0 5px 0 #ABBED8;
  background-color: #FFFFFF;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 305, src/scss/_components/_step.scss */
.step__form-field label.file > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 308, src/scss/_components/_step.scss */
.step__form-field label.file > div label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

/* line 316, src/scss/_components/_step.scss */
.step__form-field label.file > div label p {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 200px;
  height: 48px;
  padding: 0;
  margin-right: 20px;
  border: 1px solid rgba(87, 100, 114, 0.1);
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #F1F4F8;
}

/* line 331, src/scss/_components/_step.scss */
.step__form-field label.file > div label span {
  font-size: 14px;
  color: #576472;
}

/* line 338, src/scss/_components/_step.scss */
.step__form-field label.file input {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 200px;
}

/* line 347, src/scss/_components/_step.scss */
.step__form-field label h6 {
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #163A5F;
}

/* line 354, src/scss/_components/_step.scss */
.step__form-field label p {
  padding-bottom: 10px;
  font-size: 18px;
  color: #163A5F;
}

/* line 360, src/scss/_components/_step.scss */
.step__form-field label input,
.step__form-field label select {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 57px;
  padding: 0 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #CBDBE3;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.step__form-field label input.placeholder,
.step__form-field label select.placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.step__form-field label input:-moz-placeholder,
.step__form-field label select:-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.step__form-field label input::-moz-placeholder,
.step__form-field label select::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.step__form-field label input:-ms-input-placeholder,
.step__form-field label select:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.step__form-field label input::-webkit-input-placeholder,
.step__form-field label select::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 386, src/scss/_components/_step.scss */
.step__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #CBDBE3;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 399, src/scss/_components/_step.scss */
.step__list:hover {
  border-color: #21BF73;
  background-color: #21bf73;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 404, src/scss/_components/_step.scss */
.step__list:hover img,
.step__list:hover span {
  color: #ffffff;
}

/* line 410, src/scss/_components/_step.scss */
.step__list > img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 415, src/scss/_components/_step.scss */
.step__list > img + span {
  padding-left: 10px;
}

/* line 420, src/scss/_components/_step.scss */
.step__list > span {
  font-weight: 500;
  font-size: 16px;
  color: #163A5F;
}

/* line 426, src/scss/_components/_step.scss */
.step__list-wrapper {
  padding-bottom: 40px;
}

/* line 430, src/scss/_components/_step.scss */
.step__list-title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  color: #163A5F;
}

/* line 437, src/scss/_components/_step.scss */
.step__list-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 443, src/scss/_components/_step.scss */
.step__search {
  padding: 10px;
  border: 1px solid rgba(203, 219, 227, 0.8);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 449, src/scss/_components/_step.scss */
.step__search-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 454, src/scss/_components/_step.scss */
.step__search-title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #163A5F;
}

/* line 461, src/scss/_components/_step.scss */
.step__search-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0 10px 60px 0 rgba(203, 219, 227, 0.5);
          box-shadow: 0 10px 60px 0 rgba(203, 219, 227, 0.5);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #FFFFFF;
}

/* line 469, src/scss/_components/_step.scss */
.step__search-cover input {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  height: 57px;
  padding: 0 20px;
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(241, 244, 248, 0.5);
  color: #163A5F;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.step__search-cover input.placeholder {
  font-weight: 600;
  font-size: 16px;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.step__search-cover input:-moz-placeholder {
  font-weight: 600;
  font-size: 16px;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.step__search-cover input::-moz-placeholder {
  font-weight: 600;
  font-size: 16px;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.step__search-cover input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 16px;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.step__search-cover input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 16px;
}

/* line 489, src/scss/_components/_step.scss */
.step__search-cover .c-btn {
  min-width: 150px;
  height: 57px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 494, src/scss/_components/_step.scss */
.step__search-cover .c-btn__wrapper {
  padding-left: 10px;
}

/* line 501, src/scss/_components/_step.scss */
.step__notification {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/* line 507, src/scss/_components/_step.scss */
.step__notification-wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 520, src/scss/_components/_step.scss */
.step__notification-wrapper .step__form {
  max-width: 100%;
  padding-bottom: 20px;
}

/* line 526, src/scss/_components/_step.scss */
.step__notification-wrapper .step__form-field label p {
  font-size: 14px;
}

/* line 530, src/scss/_components/_step.scss */
.step__notification-wrapper .step__form-field label input {
  height: 48px;
}

/* line 537, src/scss/_components/_step.scss */
.step__notification-wrapper .c-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* line 542, src/scss/_components/_step.scss */
.step__notification-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 547, src/scss/_components/_step.scss */
.step__notification-block > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 20px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #F1F4F8;
}

/* line 558, src/scss/_components/_step.scss */
.step__notification-block > div:nth-of-type(1) img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 565, src/scss/_components/_step.scss */
.step__notification-block > div p {
  font-weight: 500;
  font-size: 18px;
  color: #163A5F;
}

/* line 573, src/scss/_components/_step.scss */
.step__notification-cover {
  width: 100%;
  padding: 40px 50px;
  -webkit-box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
          box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #FFFFFF;
}

/* line 581, src/scss/_components/_step.scss */
.step__notification-title {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #163A5F;
}

/* line 589, src/scss/_components/_step.scss */
.step__notification-desc {
  padding-bottom: 10px;
  font-size: 16px;
  color: #576472;
}

/* line 595, src/scss/_components/_step.scss */
.step__notification-line {
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(87, 100, 114, 0.2);
}

/* line 604, src/scss/_components/_step.scss */
.step__status {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

/* line 612, src/scss/_components/_step.scss */
.step__status img,
.step__status svg {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: drop-shadow(0px 40px 80px rgba(22, 58, 95, 0.05));
          filter: drop-shadow(0px 40px 80px rgba(22, 58, 95, 0.05));
}

/* line 623, src/scss/_components/_step.scss */
.step__congratulations {
  position: relative;
}

/* line 626, src/scss/_components/_step.scss */
.step__congratulations-visual {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 634, src/scss/_components/_step.scss */
.step__congratulations-box {
  position: relative;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  max-width: 1040px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 646, src/scss/_components/_step.scss */
.step__congratulations-box-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 50px;
  background-color: #21BF73;
  -webkit-box-shadow: 0 40px 80px 0 rgba(33, 191, 115, 0.1);
          box-shadow: 0 40px 80px 0 rgba(33, 191, 115, 0.1);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

/* line 655, src/scss/_components/_step.scss */
.step__congratulations-box-cover > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 50px;
}

/* line 663, src/scss/_components/_step.scss */
.step__congratulations-box-cover p {
  padding-bottom: 10px;
  font-size: 20px;
  color: #FFFFFF;
}

/* line 669, src/scss/_components/_step.scss */
.step__congratulations-box-cover span {
  font-size: 16px;
  color: #FFFFFF;
}

/* line 677, src/scss/_components/_step.scss */
.step__push {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 689, src/scss/_components/_step.scss */
.step__push-cover {
  padding: 50px;
  -webkit-box-shadow: 0 0 80px 0 rgba(28, 202, 135, 0.2);
          box-shadow: 0 0 80px 0 rgba(28, 202, 135, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #FFFFFF;
}

/* line 695, src/scss/_components/_step.scss */
.step__push-cover p {
  padding-bottom: 40px;
  text-align: center;
  font-size: 24px;
  color: #163A5F;
}

/* line 701, src/scss/_components/_step.scss */
.step__push-cover p span {
  color: #21bf73;
}

/* line 708, src/scss/_components/_step.scss */
.step__invite {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 1040px;
  padding: 20px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  border: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 718, src/scss/_components/_step.scss */
.step__invite-cover {
  padding: 40px 50px;
  -webkit-box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
          box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #FFFFFF;
}

/* line 725, src/scss/_components/_step.scss */
.step__invite-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 729, src/scss/_components/_step.scss */
.step__invite-form-title {
  padding-bottom: 15px;
  font-size: 20px;
  color: #163A5F;
}

/* line 736, src/scss/_components/_step.scss */
.step__invite-form-desc {
  padding-bottom: 10px;
  font-size: 14px;
  color: #576472;
}

/* line 742, src/scss/_components/_step.scss */
.step__invite-form-line {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(87, 100, 114, 0.2);
}

/* line 750, src/scss/_components/_step.scss */
.step__invite-form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 755, src/scss/_components/_step.scss */
.step__invite-form-group--1 > div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 10px;
}

/* line 765, src/scss/_components/_step.scss */
.step__invite-form-group--2 > div:nth-of-type(1) {
  width: 25%;
  padding-right: 5px;
}

/* line 769, src/scss/_components/_step.scss */
.step__invite-form-group--2 > div:nth-of-type(2) {
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 774, src/scss/_components/_step.scss */
.step__invite-form-group--2 > div:nth-of-type(3) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 5px;
}

/* line 780, src/scss/_components/_step.scss */
.step__invite-form-group--2 > div:nth-of-type(4) {
  padding-left: 10px;
}

/* line 787, src/scss/_components/_step.scss */
.step__invite-form-field {
  position: relative;
  padding-bottom: 15px;
}

/* line 791, src/scss/_components/_step.scss */
.step__invite-form-field label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 799, src/scss/_components/_step.scss */
.step__invite-form-field label span {
  padding-top: 2px;
  padding-left: 10px;
  font-size: 14px;
  color: #163A5F;
}

/* line 807, src/scss/_components/_step.scss */
.step__invite-form-field input[type='text'],
.step__invite-form-field input[type='email'],
.step__invite-form-field input[type='number'],
.step__invite-form-field input[type='password'] {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 57px;
  padding: 0 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #CBDBE3;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.step__invite-form-field input[type='text'].placeholder,
.step__invite-form-field input[type='email'].placeholder,
.step__invite-form-field input[type='number'].placeholder,
.step__invite-form-field input[type='password'].placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.step__invite-form-field input[type='text']:-moz-placeholder,
.step__invite-form-field input[type='email']:-moz-placeholder,
.step__invite-form-field input[type='number']:-moz-placeholder,
.step__invite-form-field input[type='password']:-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.step__invite-form-field input[type='text']::-moz-placeholder,
.step__invite-form-field input[type='email']::-moz-placeholder,
.step__invite-form-field input[type='number']::-moz-placeholder,
.step__invite-form-field input[type='password']::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.step__invite-form-field input[type='text']:-ms-input-placeholder,
.step__invite-form-field input[type='email']:-ms-input-placeholder,
.step__invite-form-field input[type='number']:-ms-input-placeholder,
.step__invite-form-field input[type='password']:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.step__invite-form-field input[type='text']::-webkit-input-placeholder,
.step__invite-form-field input[type='email']::-webkit-input-placeholder,
.step__invite-form-field input[type='number']::-webkit-input-placeholder,
.step__invite-form-field input[type='password']::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #576472;
}

/* line 835, src/scss/_components/_step.scss */
.step__almostsReady {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 842, src/scss/_components/_step.scss */
.step__almostsReady img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 851, src/scss/_components/_step.scss */
.step__down {
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  border: 2px solid #FFFFFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 863, src/scss/_components/_step.scss */
.step__down-cover {
  padding: 50px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
          box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
  background-color: #FFFFFF;
}

/* line 870, src/scss/_components/_step.scss */
.step__down-title {
  padding-bottom: 5px;
  font-size: 24px;
  text-align: center;
  color: #FD5E53;
}

/* line 876, src/scss/_components/_step.scss */
.step__down-title span {
  font-weight: 600;
}

/* line 881, src/scss/_components/_step.scss */
.step__down-subtitle {
  padding-bottom: 30px;
  font-size: 18px;
  text-align: center;
  color: #576472;
}

/* line 888, src/scss/_components/_step.scss */
.step__down-row {
  padding: 40px;
  border: 1px solid rgba(87, 100, 114, 0.2);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

/* line 894, src/scss/_components/_step.scss */
.step__down-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 901, src/scss/_components/_step.scss */
.step__down-box.is-disabled .step__down-box-image img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/* line 905, src/scss/_components/_step.scss */
.step__down-box.is-disabled .step__down-box-title {
  color: #576472;
}

/* line 908, src/scss/_components/_step.scss */
.step__down-box.is-disabled .step__down-box-info {
  color: rgba(87, 100, 114, 0.5);
}

/* line 916, src/scss/_components/_step.scss */
.step__down-box.is-send .step__down-box-info {
  color: #21BF73;
}

/* line 919, src/scss/_components/_step.scss */
.step__down-box.is-send .step__down-box-status {
  border-color: #21BF73;
  background-color: #21bf73;
}

/* line 923, src/scss/_components/_step.scss */
.step__down-box.is-send .step__down-box-status .icon-font {
  opacity: 1;
}

/* line 930, src/scss/_components/_step.scss */
.step__down-box:not(:last-of-type) {
  margin-bottom: 25px;
}

/* line 935, src/scss/_components/_step.scss */
.step__down-box > div:nth-of-type(1) {
  width: 50px;
}

/* line 938, src/scss/_components/_step.scss */
.step__down-box > div:nth-of-type(2), .step__down-box > div:nth-of-type(3) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 20px;
}

/* line 945, src/scss/_components/_step.scss */
.step__down-box > div:nth-of-type(4) {
  width: 30px;
}

/* line 950, src/scss/_components/_step.scss */
.step__down-box-image {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #F1F4F8;
}

/* line 961, src/scss/_components/_step.scss */
.step__down-box-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 970, src/scss/_components/_step.scss */
.step__down-box-title {
  font-weight: 500;
  font-size: 18px;
  color: #163A5F;
}

/* line 976, src/scss/_components/_step.scss */
.step__down-box-info {
  font-size: 14px;
  color: #E7AA31;
}

/* line 981, src/scss/_components/_step.scss */
.step__down-box-status {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 4px solid #163A5F;
  background-color: transparent;
}

/* line 992, src/scss/_components/_step.scss */
.step__down-box-status .icon-font {
  opacity: 0;
  color: #ffffff;
}

/* line 1001, src/scss/_components/_step.scss */
.step__success-title {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #21BF73;
}

/* line 1013, src/scss/_components/_step.scss */
.step__success-media {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 1022, src/scss/_components/_step.scss */
.step__btn {
  padding-top: 100px;
}

/*# sourceMappingURL=maps/app.css.map */
