// SECTION :: START

section#step.step.step--4

  .step__container
    .step__container-bg
      span
      span
      span
      span
    .step__container-content
      p.step__title.c-title Connect Slack or Teams

  .step__wrapper

    .step__notification-wrapper
      .step__notification-cover
        p.step__notification-title Notifications
        p.step__notification-desc Choose how you wish to be notified. Looking for a specific service?
        .step__notification-line

        form.step__form(action='' method='' autocomplete='off')
          .step__form-field
            .step__notification
              div
                .step__notification-block
                  div
                    img(src="img/img-slack.svg" alt="")
                  div
                    p Slack
              div
                .c-btn__wrapper
                  a.c-btn.c-btn--secondary.c-btn--medium(href="#")
                    span Add to Slack
          .step__form-field
            .step__notification
              div
                .step__notification-block
                  div
                    img(src="img/img-slack.svg" alt="")
                  div
                    p Microsoft Teams
              div
                label.toggle
                  input(type='checkbox' name='' placeholder='' checked)
                  span
                    i
          .step__form-field
            .step__notification
              div
                .step__notification-block
                  div
                    img(src="img/img-slack.svg" alt="")
                  div
                    p Flowdock
              div
                label.toggle
                  input(type='checkbox' name='' placeholder='')
                  span
                    i
          .step__form-field
            .step__notification
              div
                .step__notification-block
                  div
                    img(src="img/img-slack.svg" alt="")
                  div
                    p Discord
              div
                label.toggle
                  input(type='checkbox' name='' placeholder='' checked)
                  span
                    i
          .step__form-field
            .step__notification
              div
                .step__notification-block
                  div
                    img(src="img/img-slack.svg" alt="")
                  div
                    p SMS
              div
                label.toggle
                  input(type='checkbox' name='' placeholder='')
                  span
                    i
          .step__form-field
            .step__notification
              div
                .step__notification-block
                  div
                    img(src="img/img-slack.svg" alt="")
                  div
                    p Web Hooks
              div
                label.toggle
                  input(type='checkbox' name='' placeholder='')
                  span
                    i
          .step__form-field
            .step__notification
              div
                .step__notification-block
                  div
                    img(src="img/img-slack.svg" alt="")
                  div
                    p Email
              div
                label.toggle
                  input(type='checkbox' name='' placeholder='')
                  span
                    i
          .step__form-field
            label
              p Email Address (Seperate multiple with commas)
              input(type='text' name='' placeholder='test@fff.ggtt')

        .c-btn__wrapper.c-btn__wrapper--end
          a.c-btn.c-btn--medium.c-btn--primary(href="/screen-3.html")
            span Save

    .step__btn.c-btn__wrapper
      a.c-btn.c-btn--secondary(href="/screen-3.html")
        span Previous
      a.c-btn.c-btn--primary(href="/screen-5.html")
        span Next
        i.icon-font.icon-arrow-right

// SECTION :: END
