// SECTION :: START

section#step.step.step--6

  .step__container
    .step__container-bg
      span
      span
      span
      span
    .step__container-content
      p.step__title.c-title It’s almost ready
      p.step__title.c-desc Now test it to see how it works

  .step__wrapper

    .step__down
      .step__down-cover
        p.step__down-title!= "<span>Blocksi Manager Education Everywhere</span> is  now Down*"
        p.step__down-subtitle *this is fake outage for testing reasons visible in your account only

        .step__down-row
          .step__down-box
            div
              .step__down-box-image
                img(src="img/img-slack.svg" alt="")
            div
              p.step__down-box-title Slack
            div
              p.step__down-box-info Sending notification
            div
              .step__down-box-status
                i.icon-font.icon-checked

          .step__down-box.is-send
            div
              .step__down-box-image
                img(src="img/img-slack.svg" alt="")
            div
              p.step__down-box-title Microsoft Teams
            div
              p.step__down-box-info Sending notification
            div
              .step__down-box-status
                i.icon-font.icon-checked

          .step__down-box.is-disabled
            div
              .step__down-box-image
                img(src="img/img-slack.svg" alt="")
            div
              p.step__down-box-title Microsoft Teams
            div
              p.step__down-box-info Not configured
            div

          .step__down-box.is-disabled
            div
              .step__down-box-image
                img(src="img/img-slack.svg" alt="")
            div
              p.step__down-box-title Microsoft Teams
            div
              p.step__down-box-info Not configured
            div

          .step__down-box.is-disabled
            div
              .step__down-box-image
                img(src="img/img-slack.svg" alt="")
            div
              p.step__down-box-title Microsoft Teams
            div
              p.step__down-box-info Not configured
            div


// SECTION :: END
