// SECTION :: START

section#step.step.step--3

  .step__container
    .step__container-bg
      span
      span
      span
      span

    .step__container-content
      p.step__title.c-title!= "Now Monitoring and Normalizing Data from <span>1020 Services!</span>"
      p.step__desc.c-desc Add all the services you and your team use. We monitor 1020 services. Most users add at least 7 services - it improves transparency!

  .step__wrapper

    .step__row
      .step__col.step__col-1
      .step__col.step__col-2
        .step__list-wrapper
          p.step__list-title DevOps
          .step__list-block
            a.step__list(href="#")
              img(src="img/img-amazon-web-services.png" srcset="img/img-amazon-web-services@2x.png 2x" alt="")
              span Amazon Web Services
            a.step__list(href="#")
              img(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              span Azure
            a.step__list(href="#")
              img(src="img/img-circle-ci.png" srcset="img/img-circle-ci@2x.png 2x" alt="")
              span Circle CI
            a.step__list(href="#")
              img(src="img/img-cloudflare.png" srcset="img/img-cloudflare@2x.png 2x" alt="")
              span Cloudflare
            a.step__list(href="#")
              img(src="img/img-datadog.png" srcset="img/img-datadog@2x.png 2x" alt="")
              span Datadog
            a.step__list(href="#")
              img(src="img/img-digitalOcean.png" srcset="img/img-digitalOcean@2x.png 2x" alt="")
              span DigitalOcean
            a.step__list(href="#")
              img(src="img/img-firebase.png" srcset="img/img-firebase@2x.png 2x" alt="")
              span Firebase
            a.step__list(href="#")
              img(src="img/img-gitHub.png" srcset="img/img-gitHub@2x.png 2x" alt="")
              span GitHub
            a.step__list(href="#")
              img(src="img/img-gitLab.png" srcset="img/img-gitLab@2x.png 2x" alt="")
              span GitLab
            a.step__list(href="#")
              img(src="img/img-heroku.png" srcset="img/img-heroku@2x.png 2x" alt="")
              span Heroku
            a.step__list(href="#")
              img(src="img/img-mailgun.png" srcset="img/img-mailgun@2x.png 2x" alt="")
              span Mailgun

        .step__list-wrapper
          p.step__list-title IT Helpdesk
          .step__list-block
            a.step__list(href="#")
              img(src="img/img-amazon-web-services.png" srcset="img/img-amazon-web-services@2x.png 2x" alt="")
              span Amazon Web Services
            a.step__list(href="#")
              img(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              span Azure
            a.step__list(href="#")
              img(src="img/img-circle-ci.png" srcset="img/img-circle-ci@2x.png 2x" alt="")
              span Circle CI
            a.step__list(href="#")
              img(src="img/img-cloudflare.png" srcset="img/img-cloudflare@2x.png 2x" alt="")
              span Cloudflare
            a.step__list(href="#")
              img(src="img/img-datadog.png" srcset="img/img-datadog@2x.png 2x" alt="")
              span Datadog
            a.step__list(href="#")
              img(src="img/img-digitalOcean.png" srcset="img/img-digitalOcean@2x.png 2x" alt="")
              span DigitalOcean
            a.step__list(href="#")
              img(src="img/img-firebase.png" srcset="img/img-firebase@2x.png 2x" alt="")
              span Firebase
            a.step__list(href="#")
              img(src="img/img-gitHub.png" srcset="img/img-gitHub@2x.png 2x" alt="")
              span GitHub
            a.step__list(href="#")
              img(src="img/img-gitLab.png" srcset="img/img-gitLab@2x.png 2x" alt="")
              span GitLab
            a.step__list(href="#")
              img(src="img/img-heroku.png" srcset="img/img-heroku@2x.png 2x" alt="")
              span Heroku
            a.step__list(href="#")
              img(src="img/img-mailgun.png" srcset="img/img-mailgun@2x.png 2x" alt="")
              span Mailgun

        .step__list-wrapper
          p.step__list-title Education
          .step__list-block
            a.step__list(href="#")
              img(src="img/img-amazon-web-services.png" srcset="img/img-amazon-web-services@2x.png 2x" alt="")
              span Amazon Web Services
            a.step__list(href="#")
              img(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              span Azure
            a.step__list(href="#")
              img(src="img/img-circle-ci.png" srcset="img/img-circle-ci@2x.png 2x" alt="")
              span Circle CI
            a.step__list(href="#")
              img(src="img/img-cloudflare.png" srcset="img/img-cloudflare@2x.png 2x" alt="")
              span Cloudflare
            a.step__list(href="#")
              img(src="img/img-datadog.png" srcset="img/img-datadog@2x.png 2x" alt="")
              span Datadog

        .step__list-wrapper
          p.step__list-title Other
          .step__list-block
            a.step__list(href="#")
              img(src="img/img-amazon-web-services.png" srcset="img/img-amazon-web-services@2x.png 2x" alt="")
              span Amazon Web Services
            a.step__list(href="#")
              img(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              span Azure
            a.step__list(href="#")
              img(src="img/img-circle-ci.png" srcset="img/img-circle-ci@2x.png 2x" alt="")
              span Circle CI
            a.step__list(href="#")
              img(src="img/img-cloudflare.png" srcset="img/img-cloudflare@2x.png 2x" alt="")
              span Cloudflare

        .step__search-wrapper
          p.step__search-title Search for Others
          .step__search
            form#formSearchOthers.step__search-cover(name="formSearchOthers" action="" method="" autocomplete="")
              label
                input(type='text' id='search_others' name='search_others' placeholder='')
                .c-btn__wrapper
                  a.c-btn.c-btn--primary(href="#" form-search-others-js)
                    span Search

    .step__btn.c-btn__wrapper
      .c-btn__error
        span Please choose at least one service
      a.c-btn.c-btn--secondary(href="/screen-2.html")
        span Previous
      a.c-btn.c-btn--primary(href="#" step-3-js)
        span Next
        i.icon-font.icon-arrow-right

// SECTION :: END
