// SECTION :: START

section#step.step.step--6

  .step__container
    .step__container-bg
      span
      span
      span
      span
    .step__container-content
      p.step__title.c-title It’s almost ready
      p.step__title.c-desc Now test it to see how it works

  .step__wrapper

    .step__updating
      .step__updating-cover
        .step__updating-header
          div
            p.step__updating-title!= "Dashboard successfully updated! <span>*</span>"
          div

        p.step__updating-desc!= "*We update only dashboard on this page for testing reasons. Your real dashboard shows real <br><strong>Blocksi Manager Education Everywhere</strong> status."

        .step__updating-row

          .step__updating-list-wrapper
            .step__updating-list
              div
                img.step__updating-list-logo(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              div
                p.step__updating-list-name Amazon Web Services
              div
                .step__updating-list-status
                  span down
            .step__updating-list
              div
                img.step__updating-list-logo(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              div
                p.step__updating-list-name Google Workspace
              div
                .step__updating-list-status.is-down
                  span down
            .step__updating-list
              div
                img.step__updating-list-logo(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              div
                p.step__updating-list-name GitHub
              div
                .step__updating-list-status
                  span up
            .step__updating-list
              div
                img.step__updating-list-logo(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              div
                p.step__updating-list-name Azure
              div
                .step__updating-list-status
                  span up
            .step__updating-list
              div
                img.step__updating-list-logo(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              div
                p.step__updating-list-name Google Cloud
              div
                .step__updating-list-status
                  span up
            .step__updating-list
              div
                img.step__updating-list-logo(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
              div
                p.step__updating-list-name Cloudflare
              div
                .step__updating-list-status
                  span up

// SECTION :: END
