// SECTION :: START

section#step.step.step--6

  .step__container
    .step__container-bg
      span
      span
      span
      span
    .step__container-content
      p.step__title.c-title It’s almost ready
      p.step__desc.c-desc!= "<strong>Test out your integrations to see how they work</strong> <br><br>Press the button below to simulate what happens during an outage. <br>Simulate a Bocksi Manager Education Everywhere outage:"

  .step__wrapper

    .step__push
      a(href="#" push-js)
        svg(width='232px' height='167px' viewBox='0 0 232 167' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
          defs
            path#path-1(d='M0.5,73.56 C0.5,73.56 -0.26,88.02 4.65,97.03 C9.56,106.04 22.65,125.14 57.05,136.03 C91.45,146.92 132.37,145.03 160.2,133.58 C188.03,122.13 202,104.67 202,104.67 C202,104.67 207.73,98.12 209.37,93.21 C211.01,88.3 211.15,71.94 211.15,71.94 L0.5,73.56 Z')
            filter#filter-2(x='-8.3%' y='-17.5%' width='116.6%' height='149.1%' filterUnits='objectBoundingBox')
              feoffset(dx='0' dy='5' in='SourceAlpha' result='shadowOffsetOuter1')
              fegaussianblur(stdDeviation='5' in='shadowOffsetOuter1' result='shadowBlurOuter1')
              fecolormatrix(values='0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0' type='matrix' in='shadowBlurOuter1')
            lineargradient#linearGradient-3(x1='0.000100304594%' y1='50.0426974%' x2='100.006485%' y2='50.0426974%')
              stop(stop-color='#FD5E53' offset='0%')
              stop(stop-color='#FD463A' offset='100%')
            lineargradient#linearGradient-4(x1='4.79513251e-15%' y1='50%' x2='100.006749%' y2='50%')
              stop(stop-color='#CC2F2F' offset='0%')
              stop(stop-color='#FCAEB2' offset='63%')
              stop(stop-color='#FC7272' offset='100%')
            lineargradient#linearGradient-5(x1='5.21997308e-15%' y1='50%' x2='100.007346%' y2='50%')
              stop(stop-color='#FC7272' offset='0%')
              stop(stop-color='#FD463A' offset='100%')
          g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
            g#button3d(transform='translate(10.000000, 0.000000)' fill-rule='nonzero')
              g#button3d-bottom(transform='translate(0.000000, 8.060000)')
                g#Path
                  use(fill='black' fill-opacity='1' filter='url(#filter-2)' xlink:href='#path-1')
                  use(fill='#27DC85' xlink:href='#path-1')
                ellipse#Oval(fill='#21BF73' cx='105.71' cy='67.39' rx='105.71' ry='63.38')
                ellipse#Oval(fill='#27DC85' cx='106.48' cy='52.56' rx='93.68' ry='52.56')
                ellipse#Oval(fill='#576472' cx='106.94' cy='58.94' rx='79.78' ry='38.61')
              g#button3d-top(transform='translate(29.469845, 0.000000)')
                path#Path(d='M154.000155,61.39 L154.200155,47.24 C154.200155,47.24 154.200155,37.69 150.110155,32.5 L117.620155,32.5 C104.544091,28.7593725 91.0004177,26.9073039 77.4001547,27 C63.7998916,26.9073039 50.2562188,28.7593725 37.1801547,32.5 L2.47015467,32.5 C2.47015467,32.5 -0.25984533,36.87 0.0201546698,48.06 C0.18015467,54.57 0.43015467,59.97 0.61015467,63.34 C0.61015467,63.59 0.61015467,63.85 0.61015467,64.1 C0.604216692,65.0710509 0.677795836,66.0409578 0.83015467,67 L0.83015467,67.14 L0.83015467,67.14 C4.06015467,86.14 37.0901547,101.14 77.3801547,101.14 C119.800155,101.14 154.190155,84.54 154.190155,64.06 C154.194807,63.1664634 154.131289,62.2738738 154.000155,61.39 L154.000155,61.39 Z' fill='url(#linearGradient-3)')
                ellipse#Oval(fill='url(#linearGradient-4)' cx='76.3001547' cy='37.08' rx='74.09' ry='37.08')
                ellipse#Oval(fill='url(#linearGradient-5)' cx='76.3001547' cy='34.38' rx='68.06' ry='34.06')

      //
      //.step__push-cover
      //  p!= "Hit the button to see what happens when <br><span>Blocksi Manager Education Everywhere</span> will have an outage"
      //  .c-btn__wrapper.c-btn__wrapper--center
      //    a.c-btn.c-btn--red(href="#" push-js)
      //      span!= "Push <strong>Blocksi Manager Education Everywhere</strong> Down"

    .step__btn.c-btn__wrapper
      a.c-btn.c-btn--secondary(href="/screen-5.html")
        span Previous
      a.c-btn.c-btn--primary(href="/screen-7.html")
        span Next
        i.icon-font.icon-arrow-right

    .step__hidden-wrapper
      .step__hidden.step__hidden-1

        .step__almostsReady
          video#videoServiceDown(muted playsinline preload='auto')
            source(src="img/video-service-down.mp4" type="video/mp4")

      .step__hidden.step__hidden-2

        .step__down
          .step__down-cover
            p.step__down-title!= "<span>Blocksi Manager Education Everywhere</span> is  now Down*"
            p.step__down-subtitle *this is fake outage for testing reasons visible in your account only

            .step__down-row
              .step__down-box.is-load
                div
                  .step__down-box-image
                    img(src="img/img-slack.svg" alt="")
                div
                  p.step__down-box-title Slack
                div
                  p.step__down-box-info Sending notification
                div
                  .step__down-box-loader
                    img(src="img/loaders.gif" alt="")
                  .step__down-box-status
                    i.icon-font.icon-checked

              .step__down-box.is-load
                div
                  .step__down-box-image
                    img(src="img/img-microsoft-teams.svg" alt="")
                div
                  p.step__down-box-title Microsoft Teams
                div
                  p.step__down-box-info Sending notification
                div
                  .step__down-box-loader
                    img(src="img/loaders.gif" alt="")
                  .step__down-box-status
                    i.icon-font.icon-checked

              .step__down-box.is-disabled
                div
                  .step__down-box-image
                    img(src="img/img-sms.svg" alt="")
                div
                  p.step__down-box-title SMS
                div
                  p.step__down-box-info Not configured
                div

              .step__down-box.is-disabled
                div
                  .step__down-box-image
                    img(src="img/img-webhooks.png" srcset='img/img-webhooks@2x.png 2x' alt="")
                div
                  p.step__down-box-title Web Hooks
                div
                  p.step__down-box-info Not configured
                div

              .step__down-box.is-disabled
                div
                  .step__down-box-image
                    img(src="img/img-email.svg" alt="")
                div
                  p.step__down-box-title Email
                div
                  p.step__down-box-info Not configured
                div

      .step__hidden.step__hidden-3

        .step__updating
          .step__updating-cover
            .step__updating-header
              div
                p.step__updating-title Updating dashboard
                p.step__updating-desc You branded dashboard
              div
                span.step__updating-num
                  img(data-src="img/countdown.gif" alt="")
                  span 3
            .step__updating-header.step__updating-header--hidden
              div
                p.step__updating-title!= "Dashboard successfully updated! <span>*</span>"
                p.step__updating-desc!= "*We update only dashboard on this page for testing reasons. Your real dashboard shows real <br><strong>Blocksi Manager Education Everywhere</strong> status."
              div

            .step__updating-row

              .step__updating-list-wrapper
                .step__updating-list

                  div
                    img.step__updating-list-logo(src="img/img-amazon-web-services.png" srcset="img/img-amazon-web-services@2x.png 2x" alt="")
                  div
                    p.step__updating-list-name Amazon Web Services
                  div
                    .step__updating-list-status
                      span(data-up='up' data-down='down')
                .step__updating-list
                  div
                    img.step__updating-list-logo(src="img/img-google-workspace.png" srcset="img/img-google-workspace@2x.png 2x" alt="")
                  div
                    p.step__updating-list-name Google Workspace
                  div
                    .step__updating-list-status
                      span(data-up='up' data-down='down')
                .step__updating-list
                  div
                    img.step__updating-list-logo(src="img/img-gitHub.png" srcset="img/img-gitHub@2x.png 2x" alt="")
                  div
                    p.step__updating-list-name GitHub
                  div
                    .step__updating-list-status
                      span(data-up='up' data-down='down')
                .step__updating-list
                  div
                    img.step__updating-list-logo(src="img/img-azure.png" srcset="img/img-azure@2x.png 2x" alt="")
                  div
                    p.step__updating-list-name Azure
                  div
                    .step__updating-list-status
                      span(data-up='up' data-down='down')
                .step__updating-list
                  div
                    img.step__updating-list-logo(src="img/img-google-cloud.png" srcset="img/img-google-cloud@2x.png 2x" alt="")
                  div
                    p.step__updating-list-name Google Cloud
                  div
                    .step__updating-list-status
                      span(data-up='up' data-down='down')
                .step__updating-list
                  div
                    img.step__updating-list-logo(src="img/img-cloudflare.png" srcset="img/img-cloudflare@2x.png 2x" alt="")
                  div
                    p.step__updating-list-name Cloudflare
                  div
                    .step__updating-list-status
                      span(data-up='up' data-down='down')

// SECTION :: END
