// SECTION :: START

section#step.step.step--8

  .step__wrapper

    p.step__title.c-title!= "<span>Congratulations!</span>"
    p.step__desc.c-desc Onboarding is finished. Now you are ready to survive in this harsh world full of outages:)

    .step__congratulations
      img.step__congratulations-visual(src="img/img-congratulations.svg" alt="")
      .step__congratulations-box
        .step__congratulations-box-cover
          div
            p You have 14 days of trial left
            span Add your credit card data now and recive 1 month free. You won’t be charged before DATE.
          div
            .c-btn__wrapper
              a.c-btn.c-btn--medium.c-btn--white(href="#")
                span Add Card

    .step__btn.c-btn__wrapper
      a.c-btn.c-btn--secondary(href="#")
        span Previous
      a.c-btn.c-btn--primary(href="#")
        span Next
        i.icon-font.icon-arrow-right

// SECTION :: END
