// SECTION :: START

section#step.step.step--7

  .step__container
    .step__container-bg
      span
      span
      span
      span
    .step__container-content
      p.step__title.c-title Invite Your Team
      p.step__desc.c-desc!= "Managing downtime is easier when you’re not alone. Invite your team to <a href='#'>StatusGator</a> and they can create their own dashboards, configure their own notification, setup component filters, and more."

  .step__wrapper

    .step__invite
      .step__invite-cover

        form.step__invite-form(action='' method='' autocomplete='off')
          p.step__invite-form-title Organization Name
          .step__invite-form-group.step__invite-form-group--1
            div
              .step__invite-form-field
                input(type='text' name='' placeholder='')
            div
              .step__invite-form-field
                .c-btn__wrapper
                  a.c-btn.c-btn--medium.c-btn--primary(href="#")
                    span Create
          .step__invite-form-line
          p.step__invite-form-title Add a New user
          p.step__invite-form-desc Invite a new user to test555444333 team below. Organization admins can manage other users.
          .step__invite-form-group.step__invite-form-group--2
            div
              .step__invite-form-field
                input(type='text' name='' placeholder='')
            div
              .step__invite-form-field
                input(type='text' name='' placeholder='')
            div
              .step__invite-form-field
                input(type='text' name='' placeholder='')
            div
              .step__invite-form-field
                .c-btn__wrapper
                  a.c-btn.c-btn--medium.c-btn--primary(href="#")
                    span Invite
          .step__invite-form-field
            label
              input(type='checkbox' name='' placeholder='')
              span Make this user an organization admin?

    .step__btn.c-btn__wrapper
      a.c-btn.c-btn--secondary(href="/screen-6.html")
        span Previous
      a.c-btn.c-btn--primary(href="/screen-8.html")
        span Next
        i.icon-font.icon-arrow-right

// SECTION :: END
