// SECTION :: START

section#step.step.step--6

  .step__container
    .step__container-bg
      span
      span
      span
      span
    .step__container-content
      p.step__title.c-title It’s almost ready
      p.step__title.c-desc Now test it to see how it works

  .step__wrapper

    .step__push
      .step__push-cover
        p!= "Hit the button to see what happens when <br><span>Blocksi Manager Education Everywhere</span> will have an outage"
        .c-btn__wrapper.c-btn__wrapper--center
          a.c-btn.c-btn--red(href="#")
            span!= "Push <strong>Blocksi Manager Education Everywhere</strong> Down"


    .step__almostsReady
      img(src="img/img-almost-ready.svg" alt="")

// SECTION :: END
