// SECTION :: START

section#step.step.step--7

  .step__container
    .step__container-bg
      span
      span
      span
      span
    .step__container-content
      p.step__title.c-title Invite Your Team
      p.step__desc.c-desc!= "Managing downtime is easier when you’re not alone. <br>Invite your team to <a href='#'>StatusGator</a> and they can create their own dashboards, configure their own notification, setup component filters, and more."

  .step__wrapper

    .step__invite
      .step__invite-cover

        form#formStep6.step__invite-form(name='formStep6' action='' method='' autocomplete='off')
          p.step__invite-form-title Organization Name
          .step__invite-form-group.step__invite-form-group--1
            div
              .step__invite-form-field
                label
                  input(type='text' name='step_6_organization_name' placeholder='' required input-organization-js)
            div
              .step__invite-form-field
                .c-btn__wrapper
                  a.c-btn.c-btn--medium.c-btn--primary(href="#" form-step-6-js)
                    span Create
          .step__invite-form-field
            .c-btn__wrapper
              a.c-btn.c-btn--small.c-btn--gray(href="#" skip-organization-js)
                span Skip, I work alone

          .step__invite-form-line

        form#formStep7.step__invite-form(name='formStep7' action='' method='' autocomplete='off')
          p.step__invite-form-title Add a New user
          p.step__invite-form-desc Invite a new user to test555444333 team below. Organization admins can manage other users.
          .step__invite-form-group.step__invite-form-group--2
            div
              .step__invite-form-field
                label
                  input(type='text' name='' placeholder='First name')
            div
              .step__invite-form-field
                label
                  input(type='text' name='' placeholder='Last name')
            div
              .step__invite-form-field
                label
                  input(type='email' name='step_7_email' placeholder='Email *' required)
            div
              .step__invite-form-field
                .c-btn__wrapper
                  a.c-btn.c-btn--medium.c-btn--primary(href="#" form-step-7-js)
                    span Invite
          .step__invite-form-field
            label
              input(type='checkbox' name='' placeholder='')
              span Make this user an organization admin?

    .step__btn.c-btn__wrapper
      a.c-btn.c-btn--secondary(href="/screen-6.html")
        span Previous
      a.c-btn.c-btn--primary(href="/screen-8.html")
        span Next
        i.icon-font.icon-arrow-right

// SECTION :: END
