// SECTION :: START

section#step.step.step--1

  .step__wrapper

    p.step__title.c-title!= "<span>Max</span>, tell us about your business"
    p.step__desc.c-desc So we can better craft your experience throughout StatusGator

    form#formStep1.step__form(name='formStep1' action='' method='' autocomplete='off')
      .step__form-field
        label
          p What industry is your business in?
          select(id='step_1_industry' name='step_1_industry' required)
            option(selected disabled) Select Industry
            option(value='Action 1') Action 1
            option(value='Action 2') Action 2
            option(value='Action 3') Action 3
            option(value='Action 4') Action 4
            option(value='Action 5') Action 5
      .step__form-field
        label
          p What is your role?
          select(id='step_1_role' name='step_1_role' required)
            option(selected disabled) Select Role
            option(value='Action 1') Action 1
            option(value='Action 2') Action 2
            option(value='Action 3') Action 3
            option(value='Action 4') Action 4
            option(value='Action 5') Action 5

    .step__btn.c-btn__wrapper.c-btn__wrapper--center
      a.c-btn.c-btn--primary(form-step-1-js href="#")
        span Next
        i.icon-font.icon-arrow-right

// SECTION :: END
