// SECTION :: START

section#step.step.step--success

	.step__wrapper
		.step__success
			p.step__success-title Status page is successfully updated and notifications are successfully sent!

			img.step__success-media(src="img/img-successfully.svg" alt="")

			.step__btn.c-btn__wrapper.c-btn__wrapper--center
				a.c-btn.c-btn--primary(href="/screen-7.html")
					span Next
					i.icon-font.icon-arrow-right

// SECTION :: END
