---
title: StatusGator | Onboarding | Step 3

pageClassName: p-sreen
stepNum: 3
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/_step-3
