---
title: StatusGator | Onboarding | Step 8

pageClassName: p-sreen
stepNum: 8
stepBool: true
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/_step-8
