---
title: StatusGator | Onboarding | Success Page

pageClassName: p-sreen
stepNum: 6
stepBool: true
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/_success-page
