// SECTION :: START

.step {
	padding: 75px 10px;
	@include adaptive(1535) {
		padding: 50px 10px;
	}

	&.step--2 {
		.step__form {
			max-width: 650px;
		}
	}
	&.step--3,
	&.step--5,
	&.step--6,
	&.step--7 {
		padding-top: 0;

		.step__desc {
			//padding-bottom: 0;
		}
	}
	&.step--4 {
		padding-top: 0;

		.step__title {
			padding-bottom: 40px;
		}
		.step__container {
			padding-bottom: 0;
			background-color: transparent;

			&-bg {
				height: 365px;
				background-color: rgba(#21BF73, 0.1);
			}
		}
	}
	&.step--5,
	&.step--6,
	&.step--7 {
		.step__container {
			padding-bottom: 0;
			background-color: transparent;

			&-bg {
				height: 365px;
				background-color: rgba(#21BF73, 0.1);
				@include adaptive(1535) {
					height: 300px;
				}
			}
		}

		.step__form {
			max-width: 800px;

			&-field {
				label {
					p {
						font-size: 14px;
						font-weight: normal;
					}

					input,
					select {
						height: 48px;
					}
				}
			}
		}
	}
	&.step--7 {
		.step__desc {
			padding-bottom: 40px;
		}
	}
	&.step--8 {
		.step__btn {
			padding-top: 25px;
		}
	}

	&__container {
		position: relative;
		left: -10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% + 20px);
		padding-top: 60px;
		padding-bottom: 50px;
		background-color: rgba(#21BF73, 0.1);
		@include adaptive(767) {
			padding-left: 10px;
			padding-right: 10px;
		}

		&-bg {
			z-index: 0;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			span {
				position: absolute;
				border-radius: 50%;
				@include adaptive(767) {
					opacity: 0.55;
				}

				&:nth-of-type(1) {
					top: 40%;
					left: 10%;
					width: 40px;
					height: 40px;
					background-color: #99F3BD;
				}
				&:nth-of-type(2) {
					top: -10px;
					right: 10%;
					width: 40px;
					height: 40px;
					background-color: #F5DEA3;
				}
				&:nth-of-type(3) {
					right: 20%;
					bottom: 20px;
					width: 30px;
					height: 30px;
					background-color: #99F3BD;
				}
				&:nth-of-type(4) {
					left: 15%;
					bottom: 40px;
					width: 10px;
					height: 10px;
					background-color: #F5DEA3;
				}
			}
		}

		&-content {
			z-index: 2;
			position: relative;
			width: 100%;
			max-width: 750px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__wrapper {
		width: 100%;
		max-width: 1140px;
		margin-left: auto;
		margin-right: auto;
	}

	&__title {
		padding-bottom: 5px;
		line-height: 1.2;
	}

	&__desc {
		padding-bottom: 40px;
		@include adaptive(1535) {
			padding-bottom: 30px;
		}

		strong {
			font-weight: 500;
		}
	}

	&__row {
		display: flex;
		padding-top: 50px;
	}

	&__col {
		&-1 {

		}
		&-2 {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	&__form {
		width: 100%;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;

		&.step__form--2 {
			.step__form-field {
				&:not(:last-of-type) {
					padding-bottom: 10px;
				}
			}
		}

		&-field {
			display: flex;

			&:not(:last-of-type) {
				padding-bottom: 25px;
			}

			&.step__form-field--hidden {
				display: none;
			}

			label {
				position: relative;
				display: flex;
				flex-direction: column;
				width: 100%;

				label.error {
					position: absolute;
					bottom: -20px;
					left: 0;
					display: flex;
					align-items: flex-start;
					justify-content: center;
					height: 20px;
					font-size: 9px;
					font-weight: 500;
					text-transform: uppercase;
					color: red;
				}

				&.is-error {
					input,
					select {
						border-color: red;
						@include transition(border-color);
					}
				}

				&.checkbox 	{
					cursor: pointer;
					flex-direction: row;
					align-items: center;
					height: 60px;
					padding: 10px 20px;
					border: 1px solid rgba(87, 100, 114, 0.1);
					border-radius: 10px;
					box-shadow: 0 5px 60px 0 rgba(22, 58, 95, 0.06);
					background-color: #FFFFFF;
					@include transition(border-color, background-color, box-shadow);

					&.is-error {
						border-color: red;
						@include transition(border-color, background-color, box-shadow);
					}

					label.error {
						display: none !important;
					}

					&:hover {
						background-color: rgba(87, 100, 114, 0.05);
						box-shadow: 0 5px 30px 0 rgba(22, 58, 95, 0.06);
						@include transition(background-color, box-shadow);

						i {
							background-color: #ffffff;
							@include transition(background-color, border-color);
						}
					}

					input {
						opacity: 0;
						position: absolute;
						top: 0;
						left: 0;
						width: 0;
						height: 0;

						&:checked {
							& + i {
								border-color: #21BF73;
								@include transition(border-color);

								&:after {
									opacity: 1;
									@include transition(opacity);
								}
							}
						}
					}

					i {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 24px;
						height: 24px;
						border: 1px solid rgba(#163A5F, 0.5);
						margin-right: 20px;
						@include transition(background-color, border-color);

						&:after {
							content: '';
							opacity: 0;
							display: inline-block;
							width: 16px;
							height: 16px;
							background-color: #21bf73;
							@include transition(opacity);
						}
					}

					p {
						flex: 1;
						padding-bottom: 0;
						font-weight: 600;
						font-size: 16px;
						color: #163A5F;
						@include adaptive(1535) {
							font-size: 15px;
						}
					}
				}

				&.toggle {
					cursor: pointer;

					input {
						opacity: 0;
						position: absolute;
						top: 0;
						left: 0;
						width: 0;
						height: 0;

						&:checked {
							& + span {
								background-color: #21bf73;
								@include transition(background-color);

								i {
									transform: translateX(30px);
									@include transition(transform);
								}
							}
						}
					}

					span {
						position: relative;
						display: flex;
						width: 60px;
						height: 30px;
						box-shadow: inset 0px 1px 4px #ADBCD1;
						border-radius: 2rem;
						background-color: #D0DBEA;
						@include transition(background-color);

						i {
							position: absolute;
							top: 2px;
							left: 2px;
							width: 26px;
							height: 26px;
							border-radius: 50%;
							box-shadow: 0 0 5px 0 #ABBED8;
							background-color: #FFFFFF;
							transform-origin: center;
							@include transition(transform);
						}
					}
				}

				&.file {
					> div {
						display: flex;

						label {
							position: relative;
							display: flex;
							flex-direction: row;
							align-items: center;
							width: 100%;
							height: auto;

							p {
								cursor: pointer;
								display: flex;
								align-items: center;
								justify-content: center;
								width: 100%;
								max-width: 200px;
								height: 48px;
								padding: 0;
								margin-right: 20px;
								border: 1px solid rgba(87, 100, 114, 0.1);
								border-radius: 6px;
								background-color: #F1F4F8;
							}

							span {
								font-size: 14px;
								color: #576472;
							}
						}
					}

					input {
						opacity: 0;
						position: absolute;
						height: 100%;
						width: 100%;
						max-width: 200px;
					}
				}

				h6 {
					padding-bottom: 5px;
					font-weight: 600;
					font-size: 18px;
					color: #163A5F;
				}

				p {
					padding-bottom: 10px;
					font-size: 18px;
					color: #163A5F;
					@include adaptive(1535) {
						font-size: 16px;
					}
				}

				input,
				select {
					outline: none;
					position: relative;
					display: flex;
					width: 100%;
					height: 57px;
					padding: 0 30px;
					box-shadow: none;
					border: 1px solid #CBDBE3;
					border-radius: 6px;
					background-color: #FFFFFF;
					font-size: 14px;
					line-height: 17px;
					color: #333333;
					@include transition(border-color);
					@include inputPlaceholder {
						font-size: 14px;
						line-height: 17px;
						color: #576472;
					}
					@include adaptive(767) {
						padding-left: 20px;
					}
				}
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		padding-left: 12px;
		padding-right: 12px;
		margin-right: 10px;
		margin-bottom: 10px;
		border: 1px solid #CBDBE3;
		border-radius: 8px;
		@include transition(border-color, background-color);

		&.is-active,
		&:hover {
			border-color: #21BF73;
			background-color: #21bf73;
			@include transition(border-color, background-color);

			img,
			span {
				color: #ffffff;
			}
		}

		> img {
			display: block;
			max-width: 100%;
			height: auto;

			& + span {
				padding-left: 10px;
			}
		}

		> span {
			font-weight: 500;
			font-size: 16px;
			color: #163A5F;
			@include adaptive(1535) {
				font-size: 15px;
			}
		}

		&-wrapper {
			padding-bottom: 30px;
		}

		&-title {
			padding-bottom: 20px;
			font-weight: bold;
			font-size: 24px;
			color: #163A5F;
			@include adaptive(1535) {
				font-size: 22px;
			}
		}

		&-block {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__search {
		padding: 10px;
		border: 1px solid rgba(203, 219, 227, 0.8);
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);

		&-wrapper {
			display: flex;
			flex-direction: column;
		}

		&-title {
			padding-bottom: 10px;
			font-weight: bold;
			font-size: 18px;
			color: #163A5F;
		}

		&-cover {
			display: flex;
			align-items: center;
			padding: 10px;
			box-shadow: 0 10px 60px 0 rgba(203, 219, 227, 0.5);
			border-radius: 10px;
			background-color: #FFFFFF;

			label {
				position: relative;
				display: flex;
				width: 100%;
				@include adaptive(767) {
					flex-direction: column;
				}

				&.is-error {
					input {
						border-color: red;
						@include transition(border-color);
					}
				}

				label.error {
					display: none !important;
				}
			}

			input {
				outline: none;
				position: relative;
				display: flex;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				height: 57px;
				padding: 0 20px;
				border: 1px solid transparent;
				border-radius: 8px;
				box-shadow: none;
				background-color: rgba(#F1F4F8, 0.5);
				font-weight: 500;
				font-size: 16px;
				color: #163A5F;
				@include transition(border-color);
				@include inputPlaceholder {
					font-weight: 600;
					font-size: 16px;
				}
				@include adaptive(767) {
					min-height: 57px;
				}
			}

			.c-btn {
				min-width: 150px;
				height: 57px;
				box-shadow: none;
				@include adaptive(767) {
					width: 100%;
				}

				&__wrapper {
					padding-left: 10px;
					@include adaptive(767) {
						padding-left: 0;
						padding-top: 10px;
					}
				}
			}
		}
	}

	&__notification {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		&-wrapper {
			z-index: 2;
			position: relative;
			display: flex;
			width: 100%;
			max-width: 1040px;
			margin-left: auto;
			margin-right: auto;
			padding: 20px;
			border-radius: 10px;
			border: 2px solid #FFFFFF;
			background-color: rgba(255, 255, 255, 0.5);
			@include adaptive(767) {
				padding: 10px;
			}

			.step__form {
				max-width: 100%;
				padding-bottom: 20px;

				&-field {
					label {
						p {
							font-size: 14px;
						}

						input {
							height: 48px;
						}
					}
				}
			}

			.c-btn {
				box-shadow: none;
			}
		}

		&-block {
			display: flex;
			align-items: center;

			> div {
				&:nth-of-type(1) {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 50px;
					height: 50px;
					padding: 5px;
					margin-right: 20px;
					border-radius: 8px;
					background-color: #F1F4F8;
					@include adaptive(767) {
						width: 40px;
						height: 40px;
						padding: 5px;
					}

					img {
						display: block;
						max-width: 100%;
						height: auto;
						max-height: 100%;
					}
				}

				p {
					font-weight: 500;
					font-size: 18px;
					color: #163A5F;
					@include adaptive(767) {
						font-size: 14px;
					}
				}
			}
		}

		&-cover {
			width: 100%;
			padding: 40px 50px;
			box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
			border-radius: 8px;
			background-color: #FFFFFF;
			@include adaptive(1279) {
				padding: 30px;
			}
			@include adaptive(767) {
				padding: 20px 10px;
			}
		}

		&-title {
			padding-bottom: 5px;
			@extend %fontGogh;
			font-weight: bold;
			font-size: 20px;
			color: #163A5F;
		}

		&-desc {
			padding-bottom: 10px;
			font-size: 16px;
			color: #576472;
		}

		&-line {
			width: 100%;
			height: 1px;
			margin-top: 30px;
			margin-bottom: 30px;
			background-color: rgba(#576472, 0.2);
			@include adaptive(1535) {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}

	&__status {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: 50px;

		img,
		svg {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			filter: drop-shadow(0px 40px 80px rgba(22, 58, 95, 0.05));
		}
	}

	&__congratulations {
		position: relative;
		padding-bottom: 30px;
		@include adaptive(767) {
			padding-bottom: 0;
		}

		&-visual {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
			max-width: 425px;
			height: 375px;
			margin-left: auto;
			margin-right: auto;
			@include adaptive(1279) {
				height: 400px;
			}
			@include adaptive(767) {
				height: auto;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&-box {
			z-index: 2;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 1040px;
			padding: 20px;
			margin-left: auto;
			margin-right: auto;
			border: 2px solid #FFFFFF;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.5);
			@include adaptive(1365) {
				padding: 10px;
			}
			@include adaptive(767) {
				position: relative;
				transform: translateY(-15%);
			}

			&-cover {
				display: flex;
				align-items: center;
				padding: 40px 50px;
				background-color: #21BF73;
				box-shadow: 0 40px 80px 0 rgba(33, 191, 115, 0.1);
				border-radius: 8px;
				@include adaptive(1365) {
					padding: 20px 30px;
				}
				@include adaptive(767) {
					flex-wrap: wrap;
					padding: 20px 10px;
				}

				> div {
					@include adaptive(767) {
						width: 100%;

						.c-btn {
							width: 100%;
						}
					}

					&:nth-of-type(1) {
						flex: 1;
						min-width: 1px;
						max-width: 100%;
						padding-right: 50px;
						@include adaptive(767) {
							flex: 100%;
							padding-bottom: 20px;
							padding-right: 0;
						}
					}
				}

				p {
					padding-bottom: 10px;
					font-size: 20px;
					color: #FFFFFF;
					@include adaptive(1365) {
						font-size: 18px;
					}
				}

				span {
					font-size: 16px;
					color: #FFFFFF;
					@include adaptive(1365) {
						font-size: 14px;
					}
				}
			}
		}
	}

	&__push {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 900px;
		padding-top: 30px;
		margin-left: auto;
		margin-right: auto;

		a {
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				svg {
					#button3d-top {
						transform: translate(30px, 5px) scaleY(0.9);
						@include transition(transform);
					}
				}
			}
		}

		svg {
			display: block;
			width: 100%;
			max-width: 175px;
			height: auto;
			margin-left: auto;
			margin-right: auto;

			#button3d-top {
				transform-origin: center;
				@include transition(transform);
			}
		}

		//padding: 20px;
		//border: 2px solid #FFFFFF;
		//border-radius: 10px;
		//background-color: rgba(255, 255, 255, 0.5);

		/*&-cover {
			padding: 35px 30px;
			box-shadow: 0 0 80px 0 rgba(28, 202, 135, 0.2);
			border-radius: 10px;
			background-color: #FFFFFF;

			p {
				padding-bottom: 40px;
				text-align: center;
				font-size: 24px;
				color: #163A5F;

				span {
					color: #21bf73;
				}
			}
		}*/
	}

	&__invite {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 1040px;
		padding: 20px;
		border-radius: 10px;
		border: 2px solid #FFFFFF;
		background-color: rgba(255, 255, 255, 0.5);

		&-cover {
			padding: 40px 50px;
			box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
			border-radius: 8px;
			background-color: #FFFFFF;
			@include adaptive(1279) {
				padding: 30px;
			}
			@include adaptive(767) {
				padding: 20px 10px;
			}
		}

		&-form {
			display: flex;
			flex-direction: column;

			&-title {
				padding-bottom: 15px;
				font-size: 20px;

				color: #163A5F;
			}

			&-desc {
				padding-bottom: 10px;
				font-size: 14px;
				color: #576472;
			}

			&-line {
				width: 100%;
				height: 1px;
				margin-top: 10px;
				margin-bottom: 20px;
				background-color: rgba(#576472, 0.2);
			}

			&-group {
				display: flex;
				@include adaptive(767) {
				  flex-wrap: wrap;
				}

				&--1 {
					> div {
						@include adaptive(767) {
							flex: unset;
							width: 100%;

							.c-btn {
								width: 100%;
							}
						}

						&:nth-of-type(1) {
							flex: 1;
							min-width: 1px;
							max-width: 100%;
							padding-right: 10px;
							@include adaptive(767) {
								padding-right: 0;
							}
						}
					}
				}
				&--2 {
					> div {
						@include adaptive(767) {
							flex: unset;
							width: 100% !important;

							.c-btn {
								width: 100%;
							}
						}

						&:nth-of-type(1) {
							width: 25%;
							padding-right: 5px;
						}
						&:nth-of-type(2) {
							width: 25%;
							padding-left: 5px;
							padding-right: 5px;
							@include adaptive(767) {
								padding: 0;
							}
						}
						&:nth-of-type(3) {
							flex: 1;
							min-width: 1px;
							max-width: 100%;
							padding-left: 5px;
							@include adaptive(767) {
								padding: 0;
							}
						}
						&:nth-of-type(4) {
							padding-left: 10px;
							@include adaptive(767) {
								padding-left: 0;
							}
						}
					}
				}
			}

			&-field {
				position: relative;
				padding-bottom: 15px;

				label {
					position: relative;
					display: flex;
					align-items: center;

					label.error {
						position: absolute;
						bottom: -15px;
						left: 0;
						display: flex;
						align-items: flex-start;
						justify-content: center;
						height: 15px;
						font-size: 9px;
						font-weight: 500;
						text-transform: uppercase;
						color: red;
					}

					&.is-error {
						input {
							border-color: red;
							@include transition(border-color);
						}
					}

					input {

					}

					span {
						padding-top: 2px;
						padding-left: 10px;
						font-size: 14px;
						color: #163A5F;
					}
				}

				input[type='text'],
				input[type='email'],
				input[type='number'],
				input[type='password'] {
					outline: none;
					cursor: pointer;
					position: relative;
					display: flex;
					width: 100%;
					height: 57px;
					padding: 0 30px;
					box-shadow: none;
					border: 1px solid #CBDBE3;
					border-radius: 6px;
					background-color: #FFFFFF;
					font-size: 14px;
					line-height: 17px;
					color: #333333;
					@include inputPlaceholder {
						font-size: 14px;
						line-height: 17px;
						color: #576472;
					}
				}
			}
		}
	}

	&__almostsReady {
		display: flex;
		align-items: flex-start;
		justify-content: center;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__down {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		//margin-bottom: 100px;
		border: 2px solid #FFFFFF;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);

		&-cover {
			padding: 50px;
			border-radius: 8px;
			box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
			background-color: #FFFFFF;
			@include adaptive(1279) {
				padding: 30px;
			}
			@include adaptive(767) {
				padding: 20px 15px;
			}
		}

		&-title {
			padding-bottom: 5px;
			font-size: 24px;
			text-align: center;
			color: #FD5E53;

			span {
				font-weight: 600;
			}
		}

		&-subtitle {
			padding-bottom: 30px;
			font-size: 18px;
			text-align: center;
			color: #576472;
		}

		&-row {
			padding: 40px;
			border: 1px solid rgba(#576472, 0.2);
			border-radius: 8px;
			@include adaptive(767) {
				padding: 15px;
			}
		}

		&-box {
			display: flex;
			align-items: center;
			@include adaptive(767) {
			  flex-wrap: wrap;
			}

			&.is-disabled {
				.step__down-box {
					&-image {
						img {
							filter: grayscale(1);
						}
					}
					&-title {
						color: #576472;
					}
					&-info {
						color: rgba(#576472, 0.5);
					}
				}
			}

			&.is-load {
				.step__down-box {
					.step__down-box-status {

					}
				}
			}

			&.is-send {
				.step__down-box {
					&-info {
						color: #21BF73;
						@include transition(color);
					}

					&-status {
						background-color: #21bf73;
						@include transition(background-color);

						.icon-font {
							opacity: 1;
							@include transition(opacity);
						}
					}
				}
			}

			&:not(:last-of-type) {
				margin-bottom: 25px;
			}

			> div {
				&:nth-of-type(1) {
					width: 50px;
				}
				&:nth-of-type(2) {
					@include adaptive(767) {
						display: none;
					}
				}
				&:nth-of-type(2),
				&:nth-of-type(3) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-left: 20px;
				}
				&:nth-of-type(4) {
					position: relative;
					width: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			&-image {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 50px;
				padding: 5px;
				border-radius: 8px;
				background-color: #F1F4F8;

				img {
					display: block;
					max-width: 100%;
					height: auto;
					margin-left: auto;
					margin-right: auto;
				}
			}

			&-title {
				font-weight: 500;
				font-size: 18px;
				color: #163A5F;
			}

			&-info {
				font-size: 14px;
				color: #E7AA31;
				@include transition(color);
			}

			&-loader {
				img {
					display: block;
					max-width: 100%;
					height: auto;
					transform: scale(1.2);
				}
			}

			&-status {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background-color: transparent;
				@include transition(background-color);

				.icon-font {
					opacity: 0;
					color: #ffffff;
					@include transition(opacity);
				}
			}
		}
	}

	&__updating {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
		border: 2px solid #FFFFFF;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.5);

		&-cover {
			padding: 50px;
			border-radius: 8px;
			box-shadow: 0 40px 80px 0 rgba(22, 58, 95, 0.05);
			background-color: #FFFFFF;
			@include adaptive(1279) {
				padding: 30px;
			}
			@include adaptive(767) {
				padding: 20px 15px;
			}
		}

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-height: 114px;
			padding-bottom: 30px;

			&--hidden {
				display: none;
			}
		}

		&-title {
			padding-bottom: 10px;
			font-weight: 600;
			font-size: 24px;
			color: #163A5F;

			span {
				color: #FD5E53;
			}
		}

		&-num {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 100px;

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}

			span {
				position: absolute;
				transform: translate(0, 1px);
				font-weight: 500;
				font-size: 29px;
				line-height: 1;
				color: #FD5E53;
			}
		}

		&-desc {
			font-size: 14px;
			color: #576472;

			strong {
				font-weight: 600;
			}
		}

		&-row {
			padding: 40px;
			border: 1px solid rgba(#576472, 0.2);
			border-radius: 8px;
			@include adaptive(767) {
				padding: 15px;
			}
		}

		&-list {
			display: flex;
			align-items: center;

			&.is-down {
				.step__updating-list-status {
					background-color: #fd5e53;

					span {
						&::before {
							content: attr(data-down);
						}
					}
				}
			}

			&:not(:last-of-type) {
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid rgba(#576472, 0.2);
			}

			&-wrapper {
				display: flex;
				flex-direction: column;
			}

			> div {
				&:nth-of-type(1) {
					width: 20px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					padding-left: 10px;
					padding-right: 10px;
				}
				&:nth-of-type(3) {
					width: 70px;
				}
			}

			&-logo {
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}

			&-name {
				font-weight: 500;
				font-size: 16px;
				color: #576472;
			}

			&-status {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 70px;
				height: 25px;
				border-radius: 4px;
				background-color: #21BF73;

				span {
					&::before {
						content: attr(data-up);
						display: inline-block;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: 600;
						color: #fff;
					}
				}
			}
		}
	}

	&__success {
		&-title {
			width: 100%;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 80px;
			font-weight: bold;
			font-size: 30px;
			text-align: center;
			color: #21BF73;
			@include adaptive(767) {
				padding-bottom: 50px;
				font-size: 27px;
			}
		}

		&-media {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__btn {
		padding-top: 75px;
		@include adaptive(1535) {
			padding-top: 55px;
		}
	}

	&__hidden {
		display: none;

		&-wrapper {
			z-index: 2;
			position: relative;
		}
	}
}

// SECTION :: END
