// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 200px;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.c-btn__wrapper--center {
      justify-content: center;
    }
    &.c-btn__wrapper--end {
      justify-content: flex-end;
    }
  }

  &.c-btn--medium {
    min-width: 170px;
    height: 57px;
  }

  &.c-btn--primary {
    box-shadow: 0 6px 20px 0 rgba(40, 223, 153, 0.2), 0 20px 30px 0 rgba(40, 223, 153, 0.2);
    background-color: #21BF73;

    .icon-font,
    span {
      color: #ffffff;
    }
  }
  
  &.c-btn--secondary {
    border: 1px solid #576472;
    background-color: #FFFFFF;

    span {
      font-weight: 500;
      color: #576472;
    }
  }

  .icon-font {
    font-size: 16px;

    & + span {
      padding-left: 10px;
    }
  }

  span {
    z-index: 2;
    position: relative;
    font-weight: bold;
    font-size: 17px;

    & + .icon-font {
      margin-left: 10px;
    }
  }
}

// BUTTON :: END
