// LOGOTYPE :: START

.logo {
	display: flex;
	@include adaptive(767) {
		max-width: 100px;
	}

	&__btn {
		display: flex;
		align-items: flex-start;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

// LOGOTYPE :: END
