// TITLE :: START

.c-title {
  padding-bottom: 10px;
  @extend %fontGogh;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #163a5f;

  span {
    color: #21BF73;
  }
}

// TITLE :: END
